@import './base.css';

#app {
  padding: 2rem 4rem;
}

.p-popover.p-component::before, 
.p-popover.p-component::after {
  content: '' !important;
  display: none !important;
}

.p-popover {
  border: none !important;
  margin-top: 0 !important;
  min-width: 55vw;
}

.p-popover-content {
  padding: 0 !important;
  border: 0;
}